
<table >
  <tr class=footer>
    <td >&nbsp;</td>
    <td >Elizabeth McGurty</td>
    <td style="text-align:left" >asd</td>
    <td style="text-align:left" >asd</td>
    <td style="text-align:left" >Last updated: &nbsp;<%= "March 3, 2013" %></td>
  </tr>
   <tr class=footer>
    <td >&nbsp;</td>
    <td colspan="2">asd</td>
    <td style="text-align:left">asd</td>
    <td ></td>
    <td ></td>
  </tr>
</table>
