
html, body, table, td, input, textarea, select, div, h2, h3, h4, h5, h6 {
    font: 16px Lucida,Verdana,Arial,Helvetica,sans-serif;
}

body {
    margin: 2% 2% 2% 2%;
    padding: 0px;
    height:100%;
    background: white ;

}

div.add_new_row {
    BORDER: 1px solid;
    BORDER-COLOR:green;

}

h2.approvetitle {
    font-size:16px;
    font-weight:bold;
    text-align: left;
    color:blue;
}
td.PetitionTitle2
{

    font-size:16px;
    font-weight:bold;
    text-align: center;
    color:blue;
}

div.signature_results

{

    position:relative;
    z-index: 4;
    width: 100%;
}

td.small_url {
    font-size:10px;
    text-align: left;
    color:green;
}
td.smallfont
{
    font-size:10px;
    font-weight:bold;
    text-align: left;
    color:black;
    word-wrap: break-word;

}
td.displayname
{

    font-size:12px;
    font-weight:bold;
    text-align: left;
    color:black;
    background-color:#9BCD9B;
}

table.userComments
{

    font-size:12px;
    font-weight:bold;
    text-align: left;
    color:black;
    background-color:#9BCD9B;
}


table.ListComments  {
    vertical-align: bottom;
    border:0;
    padding:2px;
    border-spacing:0;
    font-weight:normal;
    text-align: left;
    width:100%;
    border-width : 0px;
    empty-cells: show;
    display:block;


}
table.ListComments th {

    font-size:14px;
    font-weight:bold;
    text-align: left;
    color: green;



}

table.ListComments td {


    text-align: left;
    white-space: normal

}

div.surround {
    BORDER: 1px solid;
    BORDER-COLOR:white;
    width:100%;

}
div.last {
    BORDER: 1px solid;
    BORDER-COLOR:#556B2F;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width:100%;

}

div.outer {

    BORDER: 5px solid;
    BORDER-COLOR:#9BCD9B;
    background: #9BCD9B;
    -moz-border-radius: 15px;
    border-radius: 15px;
    z-index: 3;
}

div.inner {
    BORDER: 5px solid;BORDER-COLOR:#FFD39B;
    background:white;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 2px 2px 2px 2px #333;
    -webkit-box-shadow: 2px 2px 2px 2px #333;
    -moz-box-shadow: 2px 2px 2px 2px #333;

}
div.approval_div {
    BORDER: 5px solid;BORDER-COLOR:#FFD39B;
    background:white;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 2px 2px 2px 2px #333;
    -webkit-box-shadow: 2px 2px 2px 2px #333;
    -moz-box-shadow: 2px 2px 2px 2px #333;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;

}

div.footer_content {
    clear:both;
    margin-left:2%;
    margin-top:4%;
    border-style:double;
    border-color:#0000FF;
    text-indent:15px;
    text-align:left;
    padding-top:15px;
    padding-left:15px;
    padding-right:30px;
    padding-bottom:15px;
    background-color: #D5C4FA;
    z-index: 2;

}

div.menu_content {

    float:left;
    width:250px;
}

div.my_title {

    width:100%;
    height:100px;
    background: -moz-linear-gradient(top, #FFD39B, #9BCD9B);

}


div.left_side_content2  {
    display:inline;
    margin-right: 0%;
    margin-left: 1%;
    margin-bottom: auto;
    float: left;
    width: 12%;

}




div.my_content2  {
    display:inline;
    float: left;
    margin-right: 3%;
    margin-left: 3%;
    margin-top:2%;
    border-style:none;
    text-indent:1px;
    text-align:center;
    padding-top:1px;
    padding-left:1px;
    padding-right:3px;
    padding-bottom:1px;
    z-index: 2;
}

ul.menu

{
    margin-top:1%;
    list-style-type: none;
    font-variant:small-caps;
    font-weight:bold;
    font-size:18px;


}

ul.menu_right

{
    margin-top:1%;
    list-style-type: none;
    font-variant:small-caps;
    font-weight:bold;
    font-size:14px;


}

tr.footer

{
    font-variant:small-caps;
    font-weight:bold;
    font-size:14px;


}

.title
{
    font-variant:small-caps;
    font-weight:bold;
    font-style:italic;
    font-size:24px;
    text-align:center;


}

div.about_title
{

    font-variant:small-caps;
    font-weight:bold;
    font-style:italic;
    font-size:18px;
    border:solid 2px;
    border-color:black;
    margin:5px auto;
    background:white;
    width:85%;

}

ul.one_listing
{
    font-variant:small-caps;
    font-weight:normal;
    font-size:14px;
    margin:5px auto;
    background:white;
    width:85%;
}

ul.about_title {
    font-variant:small-caps;
    font-weight:normal;
    font-size:14px;
    margin:5px auto;
    background:white;
    width:85%;
}

td.about_title {
    font-variant:small-caps;
    font-weight:normal;
    font-size:14px;
}

ul.left_side_menu  {
    border-style:none;
    text-indent:15px;  
    text-align:left; 
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px; 
}

#center_body {
    margin-top:1%;
    margin-bottom: 2%; 	 
    border-color:#FFD39B;
    text-indent:5px;  
    text-align:left; 
    padding-top:2px;
    padding-left:2px;
    padding-right:2px;
    padding-bottom:1px; 
    background-color:white;
    z-index: 2; 
}

div.left_side_content  {
    display:inline; 
    margin-right: 0%; 	
    margin-left: 1%; 	
    margin-bottom: auto; 	
    float: left;
    width: 18%;
}


div.my_content {
    border-width:1.5px;
    display:inline; 
    width: 59%;
    margin-right: 0%; 	
    margin-left: 0%; 
    float: left; 
}

div.right_side_content  {
    position: relative;
    float: left;  
    width: 18%;   
    margin-right: 1%; 	
    margin-left: 0%; 
}

div.right_side_content2  {
    position: relative;
    float: left;
    width: 18%;
    margin-right: 1%;
    margin-left: 0%;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
}

#smalldate  {
    font-size:8px;
    font-weight:normal;
    text-align: left;
}

#shadow {	
    -moz-box-shadow: 2px 2px 2px #333;
    -webkit-box-shadow: 2px 2px 2px #333;
    box-shadow: 2px 2px 2px #333;
    -moz-border-radius: 15px;
    border-radius: 15px;
    z-index: 1
}

.PetitionTitle{
    font-size:16px;
    font-weight:bold;
    text-align: left;
    color:#8B3E2F;
    font-variant:small-caps;

}
.PageTitle2{
    font-size:14px;
    font-weight:bold;
    text-align: left;
    color:#8B3E2F;
    font-variant:small-caps;

}

.button_style {
    font-size: 12px;  
    font-weight: normal;  
    background-color:white;  
    text-decoration: none;  
    color: black; 
    border-style:double;
    border-width:medium;
    border-color: #556B2F;
    padding:2px;
}

.button_style_small {
    font-size: 10px;  
    font-weight: normal;  
    background-color:white;  
    text-decoration: none;  
    color: black; 
    border-style:double;
    border-color: #556B2F;
    padding:2px;
}


pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a { color: black; }
a:visited { color: #B8860B; }
a:hover { color:#EEAD0E; background-color:#556B2F; }

div.field, div.actions {
    margin-bottom: 10px;
}


.field_with_errors {
    padding: 2px;
    background-color: #698B69;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid #698B69;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #FFD39B;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    margin-left:3px;
    /* margin: -7px; */
    margin-bottom: 0px;
    background-color: #698B69;
    color: #fff;
}

#error_explanation ul li {
    font-size: 14px;
    list-style: square;
    margin-left:3px;

}

div.verify_d
{
    display:none;
}

td.label1{

    font-size:14px;
    font-weight:bold;

}

li.label1{
    font-size:14px;
    font-weight:bold;

}

td.labelred{

    font-size:14px;
    font-weight:bold;
    text-align:left;
    color: red;
}

td.labelgreen{

    font-size:14px;
    font-weight:bold;
    text-align:left;
    color: green;
}

td.labelblue{

    font-size:12px;
    font-weight:bold;
    text-align:left;
    color: blue;
}
td.title1{

    font-size:18px;
    font-weight:bold;

}
td.titler1{

    font-size:16px;
    font-weight:bold;
    color:red;
}

li.tier1{

    font-size:14px;
    font-weight:bold;
    text-align:left;
    color: green;
}

li.tier2{

    font-size:14px;
    font-weight:bold;
    text-align:left;
    color: purple;
}

li.tier3{

    font-size:14px;
    font-weight:bold;
    text-align:left;
    color: blue;
}
ul.title{

    font-size:14px;
    font-weight:bold;
    text-align:left;
    color: blue;
}

