<form>
<div class=about_title>
<table >
<tr >
<td class=about_title align=center >About Us</td>
</tr>
<tr>
<td >
<p class=about_title>
<%= CollaboratorValues::CollaboratorMethods.collaborator_value[:collaborator][:about_us] %></p>
<p>Contact us at .....</p>
<p>Otherwise thank you....</p>
</td>
</tr>
</table>
</div>
</form>
